.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.searchForm input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px 5px 5px 5px;
}
.searchForm button {
  padding: 10px 15px;
  border: none;
  background: #0070f3;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
@media (max-width: 480px) {
  .input {
    width: 100%;
  }
}
